@import url('https://fonts.googleapis.com/css2?family=Lakki+Reddy&family=Roboto&family=Roboto+Condensed:wght@700&display=swap');

body{
    margin: 0; 
    padding: 0; 
    color: #4E4949;
    font-family: 'Roboto', sans-serif;

}

h1{
    font-family: 'Roboto Condensed', sans-serif;
}
section{
    width: 100vw;
    height: 90vh;
}

.hero nav{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 20px 5px 10px 5px; 
    background-color: #222222;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    color: #fff;
}


.hero-img{
    width: 700px;
    height: 600px;
    margin-left: -2em;
    
}

nav .logo{
    margin-left: 2em;
}

.top-nav{
    margin-right: 5em;
}

.top-nav-icons{
    width: 25px;
    height: 25px;
    padding-right:10px;
    
}

.hero-content{
    padding-top: 5em;
    display: inline-flex;
}

.hero-content h1 {
    margin-top:25vh;
    margin-left: 2em;
}


header nav{
    font-size: .8em;
}

ul.top-nav li{
    padding-right: 1em;
    color: white;
}



.hero header li{
    display: inline-flex;
    justify-content: space-evenly; 

}


.hero .logo { 
    font-family: 'Lakki Reddy', cursive; 
    font-size: 1.5em;

}

section .card-heading{
    margin-bottom: 2em;
}

.card h4{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: -22px;
    font-size: 4em;
    color: rgba(63,61,86,.9); 
}
section .card-heading{
    
    text-align: center;
}

.grey-background{

    background-color: #545454;
    color: #fff; 
}

.yellow-txt{ color: #F6BB41;}
.yellow-small-text{ 
    color: #F6BB41;
    font-weight: bold;
    size: .5em;
}
.white-txt{ color: white;}
.purple-txt{ color: rgb(63,61,86); }

.menu-nav{
    background-color: #222222;
    height: 3em;
    width: 60%;
    margin: 2em auto;     
    border-radius: 5px; 
    margin-bottom: 4em;
    margin-top: 4em;
}

.menu-nav li a{
    color: white; 
    text-decoration: none; 
    margin-left: 1.5em; 
}

.menu .menu-nav li:hover{
    cursor: pointer;
    background-color: #efefef; 
    color: black;

}

.menu-nav li{
    display: inline-flex; 
    background-color: #323232; 
    line-height: 3em; 
    /* padding-top:5px; */
    margin-top: 3px;
    width: 100px; 
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; 

}



.overview{
    padding: 5em 0 0 0;
    background-color: #3F3D56;
}

.overview-spacer{
    height: 4em;
}
.pizza-card{    
    margin-left: 5em;
    width: 300px; 
    height: 500px;
    
}

.card {
    height: 300px;
    padding-top: 1em;
}

.card h3{
    padding-top: .5em; 
    padding-bottom: .5em;
}
.card-body{
    text-align: center; 
    /* line-height: 2; */
    padding: 10px; 
}
.backdrop{
    height: 200px;
    background-color: #DADADA;
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
}
.pizza-title{
    width: 60%;
    height: 3em;
    margin: -45px auto 0 auto;  
    line-height: 3em;     
    background-color: #fff;
    border-top-left-radius: 5px ;
    border-top-right-radius: 5px;

}

.pizza-title h4, .pizza-options label{
    font-family:'Lakki Reddy', cursive; 
}

.pizza-card .pizza-options{
    /* background-color: red; */
    padding: 40px 0px 20px 20px;
}

button.selectPizza:hover{background-color: #F6BB41;}
button.selectPizza{
    width: 100%;
    height: 50px;
    background-color: #3F3D56;
    color: white; 
    border-radius: 5px; 
    border: none;
    margin-top: 10px;
}


.pizza-description{
    background-color: #222222;
    font-style: italic;
}
.pizza-description p{
    padding: 10px 0px;
}

.pizza-card label{
    margin-right: .5em; 
}

.pizza-description p{
    width: 80%; 
    margin: 0 auto; 

}

.pizza-card .pizzaQtyBtn:hover{
    cursor:pointer;
    color: #F6BB41;
}

.pizza-card .pizzaQtyBtn{
    background-color:#3F3D56;
    color: white;
    width:15px;
    height: 15px;
    padding:2px;
    border-radius: 5px;
    font-size:1em;
    
    
}

.pizza-title .pizzaQty{
    font-size: 1em;
}

.pizzaCounter{
    padding-left: 5px;
}


input:hover, select:hover{
    cursor: pointer;
}

select{
    border:none;
    padding: 4px; 
    border-top-right-radius: 5px; 
    border-top-left-radius: 5px; 
}

section.confirm-order, section.pay-order{

 text-align: center; 
 padding-top: 5em;

}

button.cta{
    border:none;
    border-radius: 4px;
    background-color: #3F3D56;;
    width: 10em;
    height: 3em;
    color: white;
}

.ordered-items{
    height: 60vh;
    display: flex;
    margin-left: 5em;
}


.delete-item,
.item{

    width: 30%; 
    height: 3em; 
    line-height: 3em;
    background-color: white;
    border-radius: 4px; 
    color: #323232;
    border:none;
}

.delete-item{ 
    width: 3em;
    margin-right: 2px; 
}

.item span{
    margin-right: 1em;
}


.final-details{
    padding-top: 5em;
    margin-bottom: 5em;
}

.final-details textarea, .final-details input[type="text"]{

    width: 70%;
    height: 3em; 
    border: 2px solid #323232;
    border-radius: 4px;
    
}