@import url('https://fonts.googleapis.com/css2?family=Lakki+Reddy&display=swap');

/* body{background-color: pink;} */

section{
    width: 100vw;
    height: 70vh;
}

.hero nav{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 10px 5px 0 5px; 
    background-color: #545454;
    color: #fff;
}

.hero header li{
    display: inline-flex;
    justify-content: space-evenly; 

}


.hero .logo { 
    font-family: 'Lakki Reddy', cursive; 
    font-size: 1.5em;

}

.grey-background{

    background-color: #545454;
    color: #fff; 
}